* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Montserrat" sans-serif;
}

body {
  background: var(--color-brand-secondary-90);
  min-height: 100vh;
}

.App a:link,
.App a:visited {
  text-decoration: none;
  color: var(--color-brand-primary-100);
}

:root {
  --spacing-sm: 0.5rem;
  --spacing-md: calc(var(--spacing-sm) * 2);
  --spacing-lg: calc(var(--spacing-sm) * 4);
  --spacing-xl: calc(var(--spacing-sm) * 6);
  --spacing-xxl: calc(var(--spacing-sm) * 8);

  --radius-sm: calc(var(--spacing-sm) / 2);
  --radius-md: var(--spacing-sm);
  --radius-lg: var(--spacing-md);
  --radius-xl: var(--spacing-lg);
  --radius-full: 100%;

  --radius-brand-lg: var(--radius-lg) 0 var(--radius-lg) 0;
  --radius-brand-xl: var(--radius-xl) 0 var(--radius-xl) 0;

  --gradient-brand: -webkit-linear-gradient(-45deg, var(--color-brand-primary-100), var(--color-brand-secondary-100));

  --color-brand-primary-100: #ff4e2d;
  --color-brand-primary-90: #bf3821;
  --color-brand-secondary-100: #3d0634;
  --color-brand-secondary-90: #090014;
  --color-brand-tertiary: #f8ce62;
  --color-brand-coolgray: #1e1e23;

  --color-gradient-10: #ff4e2d;
  --color-gradient-20: #ed3065;
  --color-gradient-30: #ea32d0;
  --color-gradient-40: #6c34e8;
  --color-gradient-50: #6087d5;
  --color-gradient-60: #32e5ea;
  --color-gradient-70: #34e85a;
  --color-gradient-80: #b2e535;
  --color-gradient-90: #e2c137;

  --gradient-10: linear-gradient(45deg, var(--color-gradient-10), var(--color-gradient-20));
  --gradient-20: linear-gradient(45deg, var(--color-gradient-20), var(--color-gradient-30));
  --gradient-30: linear-gradient(45deg, var(--color-gradient-30), var(--color-gradient-40));
  --gradient-40: linear-gradient(45deg, var(--color-gradient-40), var(--color-gradient-50));
  --gradient-50: linear-gradient(45deg, var(--color-gradient-50), var(--color-gradient-60));
  --gradient-60: linear-gradient(45deg, var(--color-gradient-60), var(--color-gradient-70));
  --gradient-70: linear-gradient(45deg, var(--color-gradient-70), var(--color-gradient-80));
  --gradient-80: linear-gradient(45deg, var(--color-gradient-80), var(--color-gradient-90));
  --gradient-90: linear-gradient(45deg, var(--color-gradient-90), var(--color-gradient-10));

  --gradient-info: linear-gradient(45deg, var(--color-gradient-40), var(--color-gradient-50), var(--color-gradient-60));

  --color-nu-0: #000000;
  --color-nu-10: #252423;
  --color-nu-20: #3e3b3a;
  --color-nu-30: #555251;
  --color-nu-40: #6d6868;
  --color-nu-50: #867f7f;
  --color-nu-60: #a19a9a;
  --color-nu-70: #bcb7b5;
  --color-nu-80: #d8d2d0;
  --color-nu-90: #f3eeeb;
  --color-nu-100: white;

  --color-danger-100: #cb1b1b;
  --color-warning-100: #f5b73d;
  --color-success-100: #95d62b;
  --color-info-100: #2b57f1;

  --shadow-10: 0px 1px 2px -1px rgba(0, 0, 0, 0.2), 0px 1px 10px -5px rgba(0, 0, 0, 0.5);
  --shadow-20: 0px 1px 2px -1px rgba(0, 0, 0, 0.2), 0px 2px 20px -5px rgba(0, 0, 0, 0.5);

  --sidebar-right: 250px;
}
